input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.fa-circle-question {
    cursor: pointer;
}

.main-container {
    display: flex;
    gap: .5rem;
}

.layoutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.upload-container {
    margin: 20px auto;
    border: 3px dashed #ccc;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #6E99F3;

}

.upload-container .fa-image {
    font-size: 4rem;
    color: #f0f0f0;
}

.upload-container.dragover {
    background-color: #f0f0f0;
    border-color: #007bff;
}

.upload-container input[type="file"] {
    display: none;
}

.file-info-box {
    width: 50%;
    height: 60px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    position: relative;
    max-width: 70%;
    font-size: 1.25rem;
    display: none;
    overflow: hidden;
}

.file-info-box .progress-bar {
    height: 5px;
    background-color: #4caf50;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
}

.file-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-info img {
    width: 40px;
    height: 40px;
}

.file-details {
    font-size: 14px;
}

.delete-btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}

.fa-image {
    color: #416788;
    font-size: 1.5rem;
}

.upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 70%;
    height: 20%;
    background: #1C1E25;
    border: none;
    border-radius: 5px;
    color: #f0f0f0;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

.upload-btn:hover {
    background: #47494F;
}

.options-container {
    border-radius: 5px;
    border: 2px solid #416788;
    display: flex;
    justify-content: start;
    justify-content: space-between;
    height: 70px;
    width: 75%;
}

.resize-container {
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 1rem;
    border: 2px solid #416788;
    height: 50px;
    align-items: center;
}

.resize-container input {
    width: 70%;
    font-size: 15px;
}

.left-options {
    width: 60%;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}

.right-options {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .75rem;
}

.range-box {
    flex: 1;
    display: flex;
}

.input-box input {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.range-box input[type="range"] {
    width: 100%;
}

.range-value {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.image-preview-container {
    margin: 1rem;
    margin-top: 20px;
    text-align: center;
}

.image-preview-container img {
    margin-top: 1rem;
    width: auto;
    height: 350px;
    margin-bottom: 10px;
}

.image-size-info {
    margin: 10px 0;
}

.image-size-info p {
    margin: 5px 0;
}

.btns {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.resize-btn {
    background-color: #416788;
    color: white;
}

.download-btn {
    background-color: #45a049;
    color: white;
}

.resize-btn,
.download-btn {
    display: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: auto;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
    padding: 1rem;
}

.resize-btn:hover {
    background-color: #20507a;
}

.download-btn:hover {
    background-color: #27852a;
}